body {
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

header {
    height: 7rem;
    background-color: gainsboro;
    border-bottom: solid 1px grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header img {
    height: 4.5rem;
    width: auto;
    padding-left: 2rem;
}